.mobileNavOverlay {
    position: fixed;
    z-index: 5;
    background: rgba(0, 0, 0, .6);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;

    &.active {
        display: block;
    }
}