@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
  --main-color: #F5593E;
  --second-color: #F2E9E0;
  --main-font: 'Poppins', sans-serif;
}

html {
  overflow-x: hidden !important;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  background: #fff;

  height: 100%;
  text-align: center;
  color: #1e1e1e;
}

@-o-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

/*--------------Typography---------*/
p {
  text-align: left;
  line-height: 24px;
  padding-bottom: 10px;
  font-weight: 500;
  color: #5e646a;
}

blockquote {
  float: left;
  padding: 10px 20px 0;
  margin: 0 0 20px;
  border-left: 10px solid #eee;
  position: relative;
}

blockquote p {
  font-style: italic;
  font-size: 13px;
  color: #333;
}

a {
  text-decoration: none;
  position: relative;
  color: #000;
}

/* ---------Page preload-----------*/
.loader-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: #fff;
}

@-webkit-keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader-inner {
  position: absolute;
  margin: -18px 0 0 -18px;
  border: 3.6px solid var(--main-color);
  box-sizing: border-box;
  overflow: hidden;
  width: 36px;
  height: 36px;
  left: 50%;
  top: 50%;
  animation: loader-spin 2s linear infinite reverse;
  -webkit-filter: url(#goo);
  filter: url(#goo);
  box-shadow: 0 0 0 1px var(--main-color) inset;
}

.loader-inner:before {
  content: "";
  position: absolute;
  animation: loader-spin 2s cubic-bezier(0.59, 0.25, 0.4, 0.69) infinite;
  background: var(--main-color);
  transform-origin: top center;
  border-radius: 50%;
  width: 150%;
  height: 150%;
  top: 50%;
  left: -12.5%;
}

#main {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.wrapper {
  position: relative;
  z-index: 1;
  margin-top: 90px;
  background: #fff;
}

.main-content {
  position: relative;
  min-height: 100vh;
  z-index: 3;
  margin-top: 20px;
}

.ms_vir_height {
  min-height: auto;
}

.content {
  position: relative;
  z-index: 3;
  background: #fff;
  padding-bottom: 50px;
}

.container {
  width: min(100% - 25px, 1700px);
  margin-inline: auto;
  position: relative;
  z-index: 5;
}

.container.small-container {
  width: min(100% - 40px, 1100px);
}

.fl-wrap {
  float: left;
  width: 100%;
  position: relative;
}

.no-bg {
  background: none !important;
}

.full-height {
  height: 100%;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  background-repeat: repeat;
  background-origin: content-box;
}

.respimg {
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .3;
  z-index: 2
}

.fs-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.no-padding {
  padding: 0 !important;
}

@media only screen and (max-width: 1068px) {
  .main-header .container {
    width: 100%;
  }
}