.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  border-bottom: 1px solid #eee;
  background: #fff;
  box-shadow: 0 10px 24px 0px rgba(0, 0, 0, .07);
}

.header-inner {
  position: relative;
  height: 90px;
  float: left;
  width: 100%;
  padding: 0 10px;
}

.logo-holder {
  position: relative;
  float: left;
  top: 50%;
  height: 12px;
  line-height: 12px;
  margin-top: -6px;
}

.logo-holder img {
  height: 100%;
  width: auto;
}

.header-btn {
  color: #fff;
  position: relative;
  float: right;
  height: 60px;
  line-height: 60px;
  top: 15px;
  padding: 0 30px;
  background: #F6593E;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 600;
  overflow: hidden;
  transition: all .2s ease-in-out;
  font-size: .9em;
  box-shadow: 0 10px 24px 0px rgba(0, 0, 0, .07);
}

.header-btn:hover {
  color: #fff;
  background: #F77A65;
}

@media (max-width: 380px) {
  .header-btn {
    display: none;
  }
}


@media only screen and (max-width: 433px) {
  .header-btn-hide {
    display: none;
  }
}


@media only screen and (max-width: 1068px) {

  .header-inner,
  .header-search-btn,
  .wish_btn {
    height: 80px;
  }

  .header-inner {
    padding: 0 0 0 10px;
  }

  .header-btn {
    top: 10px
  }
}

@media only screen and (min-width: 1151px) {
  .logo-holder {
    margin-left: 0;
    display: flex;
  }
}

@media only screen and (max-width: 1183px) {

  .header-inner,
  .header-search-btn,
  .wish_btn {
    height: 80px;
  }

  .header-inner {
    padding: 0 0 0 10px;
  }

  .header-btn {
    top: 10px
  }
}

@media only screen and (min-width: 1190px) {
  .logo-holder {
    margin-left: 0;
    display: flex;
  }
}

@media only screen and (min-width: 1242px) {
  .logo-holder {
    margin-left: 0;
    display: flex;
  }
}

@media only screen and (max-width: 1268px) {
  .logo-holder {
    margin-left: 0;
  }
}

@media only screen and (min-width: 1271px) {
  .logo-holder {
    margin-left: 0;
  }
}